$marginTop: 8px;
$margin: 1;
$formWidth: 100%;
$submitMargin: 3px 0 2px;
$backgroundColor: #19857b;

.paper {
  margin-top: $marginTop;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: $formWidth;
  margin-top: 3px;
}

.submit {
  margin: $submitMargin;
}